extends layout

block content
      div.row
        div.col-sm-12
          h1.h1-white My Playlists
      div.row
        div.col-sm-12
          for playlist, i in playlists
              div.col-sm-3
                  div.playlist-box
                    p 
                      a.playlist-title(href='/playlist' +playlist.id) #{playlist.text}
                    p 
                      small #{new Date(playlist.date).toLocaleDateString()}
                    p
                      a.a-white(href='/delete/' +playlist.id) Delete

      div.row
        div.col-sm-12
          button.btn.btnred(type='button') 
            a.a-white-bold(href='/createPlaylist') Create a new playlist
      include logout