extends layout
block content
    
    div
        h1 My playlist ID blablabla change this
    div.col-sm-2.col-sm-offset-10
        a(href='/createAudio') Add something to playlist
    div
        for audioClip, i in audio
          div
              p Link 
                a(href='http://'+audioClip.url) #{audioClip.name}